<div id="info">
    <div class="contenedor">
        <div class="imagen"></div>
        <div class="titulo"></div>
    </div>
    <div class="detalle"></div>
</div>

<div id="buscar">
    <form class="buscar" onsubmit="aplicacion_invitado_buscar(this); return false;">
        <input name="buscar" value="" placeholder="Type Last Name"/>
    </form>
    <div class="usuarios"></div>
    <div class="agregar icono">
        <span>AGREGAR USUARIO</span>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 46.361 46.361" style="enable-background:new 0 0 46.361 46.361;" xml:space="preserve">
            <path d="M40.225,17.042H29.352V6.148c0-3.39-2.769-6.138-6.159-6.138c-3.389,0-6.157,2.748-6.157,6.138v10.895H6.139   C2.75,17.042,0,19.79,0,23.18c0,3.391,2.75,6.139,6.139,6.139h10.897v10.896c0,3.39,2.768,6.138,6.157,6.138   c3.39,0,6.159-2.748,6.159-6.138V29.318l10.873,0.002c3.389,0,6.137-2.75,6.137-6.141C46.361,19.79,43.613,17.042,40.225,17.042z"/>
        </svg>
    </div>
</div>

<div id="agregar" class="contain">
    <form action="" onsubmit="aplicacion_invitado_agregar(this); return false;">
		<div class="titulo">Agregar Usuario</div>
        <input name="mail" value="" placeholder="Mail"/>
        <input name="name" value="" placeholder="Primer Nombre"/>
        <input name="name2" value="" placeholder="Segundo Nombre"/> 
        <input name="lastname1" value="" placeholder="Primer Apellido"/>
        <input name="lastname2" value="" placeholder="Segundo Apellido"/>
        <input name="profession" value="" placeholder="Profesion"/>
        <input name="phone" value="" placeholder="Telefono"/>
        <input name="country" value="" placeholder="Pais"/>
        <input name="city" value="" placeholder="Ciudad"/>
        <input name="institution" value="" placeholder="Institucion"/>
        <input name="company" value="" placeholder="Compañia"/>
        <input name="cargo" value="" placeholder="Cargo"/>
        <input name="dato" value="" placeholder="Descripción"/>
        <div class="opcion">
        	<div class="boton icono agregar">Agregar Usuario</div>
        	<div class="boton icono cerrar">Cerrar</div>
        </div>
    </form>
</div>

<div class="invitados">
</div>