<div class="logo imagen"></div>

<div class="icono_sync icono">
	<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 489.419 489.419" style="enable-background:new 0 0 489.419 489.419;" xml:space="preserve" width="512px" height="512px">
        <path d="M423.239,166.565c1.402-6.245,2.278-12.681,2.278-19.349c0-48.734-39.511-88.237-88.23-88.237   c-18.434,0-35.512,5.679-49.674,15.342C267.827,33.114,225.831,4.596,177.064,4.596c-67.756,0-122.69,54.932-122.69,122.689   c0,14.228,2.551,27.833,6.994,40.539C26.159,176.832,0,208.504,0,246.534c0,39.414,27.976,72.288,65.146,79.864   c1.768-4.962,4.27-9.701,8.171-13.605c0,0,67.726-67.463,68.396-68.036c6.596-5.711,14.832-8.969,23.658-8.969   c9.702,0,18.814,3.774,25.697,10.642l2.344,2.343l61.893,61.901v-1.983c0-22.209,18.066-40.274,40.26-40.274h43.126   c22.21,0,40.276,18.065,40.276,40.274v19.357h28.947c45.007,0,81.506-36.492,81.506-81.514   C489.419,206.761,460.903,173.751,423.239,166.565z"></path>
        <path d="M383.489,394.739h-28.994v-86.048c0-8.722-7.074-15.804-15.806-15.804h-43.126c-8.715,0-15.789,7.082-15.789,15.804v86.048   H250.78c-4.813,0-9.113,2.891-10.961,7.328c-1.832,4.421-0.83,9.527,2.564,12.929l66.355,66.353   c2.311,2.318,5.352,3.474,8.397,3.474c3.043,0,6.085-1.155,8.395-3.474l66.355-66.353c3.392-3.401,4.414-8.508,2.581-12.929   C392.618,397.629,388.302,394.739,383.489,394.739z"></path>
        <path d="M242.704,343.023c1.831-4.421,0.812-9.527-2.582-12.929l-66.355-66.361c-2.311-2.318-5.354-3.474-8.396-3.474   c-3.043,0-6.085,1.155-8.395,3.474L90.62,330.094c-3.395,3.401-4.397,8.5-2.564,12.929c1.846,4.43,6.148,7.328,10.959,7.328h28.996   V436.4c0,8.729,7.09,15.795,15.804,15.795h43.128c8.715,0,15.788-7.065,15.788-15.795v-86.049h28.995   C236.536,350.351,240.855,347.46,242.704,343.023z"></path>
    </svg>
</div>

<div class="icono_evento icono">
	<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 80.13 80.13" style="enable-background:new 0 0 80.13 80.13;" xml:space="preserve">
        <path d="M48.355,17.922c3.705,2.323,6.303,6.254,6.776,10.817c1.511,0.706,3.188,1.112,4.966,1.112   c6.491,0,11.752-5.261,11.752-11.751c0-6.491-5.261-11.752-11.752-11.752C53.668,6.35,48.453,11.517,48.355,17.922z M40.656,41.984   c6.491,0,11.752-5.262,11.752-11.752s-5.262-11.751-11.752-11.751c-6.49,0-11.754,5.262-11.754,11.752S34.166,41.984,40.656,41.984   z M45.641,42.785h-9.972c-8.297,0-15.047,6.751-15.047,15.048v12.195l0.031,0.191l0.84,0.263   c7.918,2.474,14.797,3.299,20.459,3.299c11.059,0,17.469-3.153,17.864-3.354l0.785-0.397h0.084V57.833   C60.688,49.536,53.938,42.785,45.641,42.785z M65.084,30.653h-9.895c-0.107,3.959-1.797,7.524-4.47,10.088   c7.375,2.193,12.771,9.032,12.771,17.11v3.758c9.77-0.358,15.4-3.127,15.771-3.313l0.785-0.398h0.084V45.699   C80.13,37.403,73.38,30.653,65.084,30.653z M20.035,29.853c2.299,0,4.438-0.671,6.25-1.814c0.576-3.757,2.59-7.04,5.467-9.276   c0.012-0.22,0.033-0.438,0.033-0.66c0-6.491-5.262-11.752-11.75-11.752c-6.492,0-11.752,5.261-11.752,11.752   C8.283,24.591,13.543,29.853,20.035,29.853z M30.589,40.741c-2.66-2.551-4.344-6.097-4.467-10.032   c-0.367-0.027-0.73-0.056-1.104-0.056h-9.971C6.75,30.653,0,37.403,0,45.699v12.197l0.031,0.188l0.84,0.265   c6.352,1.983,12.021,2.897,16.945,3.185v-3.683C17.818,49.773,23.212,42.936,30.589,40.741z"></path>
    </svg>
</div>

<div class="icono_home icono">
	<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 460.298 460.297" style="enable-background:new 0 0 460.298 460.297;" xml:space="preserve"> 
            <path d="M230.149,120.939L65.986,256.274c0,0.191-0.048,0.472-0.144,0.855c-0.094,0.38-0.144,0.656-0.144,0.852v137.041    c0,4.948,1.809,9.236,5.426,12.847c3.616,3.613,7.898,5.431,12.847,5.431h109.63V303.664h73.097v109.64h109.629    c4.948,0,9.236-1.814,12.847-5.435c3.617-3.607,5.432-7.898,5.432-12.847V257.981c0-0.76-0.104-1.334-0.288-1.707L230.149,120.939 z"></path>
            <path d="M457.122,225.438L394.6,173.476V56.989c0-2.663-0.856-4.853-2.574-6.567c-1.704-1.712-3.894-2.568-6.563-2.568h-54.816    c-2.666,0-4.855,0.856-6.57,2.568c-1.711,1.714-2.566,3.905-2.566,6.567v55.673l-69.662-58.245    c-6.084-4.949-13.318-7.423-21.694-7.423c-8.375,0-15.608,2.474-21.698,7.423L3.172,225.438c-1.903,1.52-2.946,3.566-3.14,6.136    c-0.193,2.568,0.472,4.811,1.997,6.713l17.701,21.128c1.525,1.712,3.521,2.759,5.996,3.142c2.285,0.192,4.57-0.476,6.855-1.998    L230.149,95.817l197.57,164.741c1.526,1.328,3.521,1.991,5.996,1.991h0.858c2.471-0.376,4.463-1.43,5.996-3.138l17.703-21.125    c1.522-1.906,2.189-4.145,1.991-6.716C460.068,229.007,459.021,226.961,457.122,225.438z"></path>
    </svg>
</div>

<div class="icono_group">
	<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 536.071 536.07" style="enable-background:new 0 0 536.071 536.07;" xml:space="preserve">
    	<path d="M147.128,91.076c0-37.95,30.766-68.716,68.721-68.716c37.95,0,68.719,30.766,68.719,68.716s-30.769,68.715-68.719,68.715   C177.894,159.792,147.128,129.026,147.128,91.076z M248.873,206.607c0.689-14.963,5.84-28.812,14.127-40.261   c-5.816-1.218-11.827-1.865-17.995-1.865h-58.304c-6.15,0-12.153,0.642-17.939,1.845c8.819,12.232,14.094,27.171,14.18,43.343   c10.72-5.896,23.02-9.253,36.085-9.253C229.625,200.416,239.714,202.624,248.873,206.607z M260.505,212.775   c19.96,12.517,33.957,33.688,36.517,58.274c8.133,3.801,17.171,5.994,26.746,5.994c34.968,0,63.311-28.346,63.311-63.313   c0-34.971-28.343-63.311-63.311-63.311C289.12,150.42,261.031,178.257,260.505,212.775z M219.026,342.411   c34.962,0,63.307-28.354,63.307-63.311c0-34.962-28.345-63.311-63.307-63.311c-34.965,0-63.322,28.348-63.322,63.311   C155.705,314.057,184.061,342.411,219.026,342.411z M245.882,346.72h-53.717c-44.697,0-81.069,36.369-81.069,81.072v65.703   l0.171,1.029l4.522,1.406c42.658,13.323,79.718,17.779,110.224,17.779c59.571,0,94.114-16.987,96.242-18.074l4.231-2.141h0.449   v-65.703C326.936,383.089,290.585,346.72,245.882,346.72z M350.638,281.364h-53.314c-0.579,21.332-9.683,40.542-24.081,54.35   c39.732,11.815,68.802,48.657,68.802,92.178v20.245c52.629-1.938,82.963-16.846,84.961-17.851l4.232-2.152h0.449v-65.715   C431.693,317.728,395.324,281.364,350.638,281.364z M364.889,149.069c19.961,12.519,33.957,33.691,36.511,58.277   c8.134,3.801,17.171,5.99,26.746,5.99c34.975,0,63.316-28.342,63.316-63.304c0-34.972-28.342-63.311-63.316-63.311   C393.503,86.717,365.416,114.56,364.889,149.069z M455.01,217.658h-53.303c-0.579,21.332-9.682,40.542-24.08,54.349   c39.731,11.811,68.801,48.658,68.801,92.179v20.245c52.624-1.934,82.964-16.84,84.962-17.852l4.226-2.145h0.455v-65.723   C536.077,254.024,499.708,217.658,455.01,217.658z M107.937,277.044c12.386,0,23.903-3.618,33.67-9.777   c3.106-20.241,13.958-37.932,29.454-49.975c0.065-1.188,0.174-2.361,0.174-3.561c0-34.971-28.351-63.311-63.298-63.311   c-34.977,0-63.316,28.339-63.316,63.311C44.621,248.704,72.959,277.044,107.937,277.044z M164.795,335.714   c-14.331-13.742-23.404-32.847-24.072-54.055c-1.971-0.147-3.928-0.295-5.943-0.295H81.069C36.366,281.364,0,317.728,0,362.425   v65.709l0.166,1.023l4.528,1.412c34.214,10.699,64.761,15.616,91.292,17.153v-19.837   C95.991,384.371,125.054,347.523,164.795,335.714z"></path>
    </svg>
</div>

<div class="icono_answer">
	<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 31.646 31.646" style="enable-background:new 0 0 31.646 31.646;" xml:space="preserve">
        <path d="M1.176,7.401h7.403V0H1.176V7.401z M2.466,1.29h4.822v4.822H2.466V1.29z"></path>
        <path d="M1.176,15.504h7.403V8.101H1.176V15.504z M2.466,9.392h4.822v4.821H2.466V9.392z"></path>
        <path d="M1.176,23.573h7.403V16.17H1.176V23.573z M2.466,17.46h4.822v4.822H2.466V17.46z"></path>
        <path d="M1.176,31.646h7.403v-7.403H1.176V31.646z M2.466,25.533h4.822v4.822H2.466V25.533z"></path>
        <rect x="10.563" y="1.488" width="19.423" height="1.45"></rect>
        <rect x="10.563" y="4.067" width="13.943" height="1.451"></rect>
        <rect x="10.563" y="9.146" width="19.423" height="1.45"></rect>
        <rect x="10.563" y="11.725" width="13.943" height="1.45"></rect>
        <rect x="11.046" y="17.445" width="19.425" height="1.451"></rect>
        <rect x="11.046" y="20.025" width="13.944" height="1.451"></rect>
        <rect x="11.046" y="25.346" width="19.425" height="1.45"></rect>
        <rect x="11.046" y="27.925" width="13.944" height="1.451"></rect>
    </svg>
</div>