<div class="sync opcion" data-sync="evento">
    <div class="titulo">Descargar por Evento</div>
	<input name="evento" value="" placeholder="Evento"/>
    <div class="boton icono">Descargar</div>
</div>

<div class="sync contenedor">
    <div class="sync opcion" data-sync="visible">
        <div class="titulo">Descargar Eventos</div>
        <div class="boton icono">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 56 56" style="enable-background:new 0 0 56 56;" xml:space="preserve" width="512px" height="512px">
                <path d="M35.586,41.586L31,46.172V28c0-1.104-0.896-2-2-2s-2,0.896-2,2v18.172l-4.586-4.586c-0.781-0.781-2.047-0.781-2.828,0   s-0.781,2.047,0,2.828l7.999,7.999c0.093,0.094,0.196,0.177,0.307,0.251c0.047,0.032,0.099,0.053,0.148,0.081   c0.065,0.036,0.127,0.075,0.196,0.103c0.065,0.027,0.133,0.042,0.2,0.062c0.058,0.017,0.113,0.04,0.173,0.051   C28.738,52.986,28.869,53,29,53s0.262-0.014,0.392-0.04c0.06-0.012,0.115-0.034,0.173-0.051c0.067-0.02,0.135-0.035,0.2-0.062   c0.069-0.028,0.131-0.067,0.196-0.103c0.05-0.027,0.101-0.049,0.148-0.081c0.11-0.074,0.213-0.157,0.307-0.251l7.999-7.999   c0.781-0.781,0.781-2.047,0-2.828S36.367,40.805,35.586,41.586z"></path>
                <path d="M47.835,18.986c-0.137-0.019-2.457-0.335-4.684,0.002C43.1,18.996,43.049,19,42.999,19c-0.486,0-0.912-0.354-0.987-0.85   c-0.083-0.546,0.292-1.056,0.838-1.139c1.531-0.233,3.062-0.196,4.083-0.124C46.262,9.135,39.83,3,32.085,3   C27.388,3,22.667,5.379,19.8,9.129C21.754,10.781,23,13.246,23,16c0,0.553-0.447,1-1,1s-1-0.447-1-1   c0-2.462-1.281-4.627-3.209-5.876c-0.227-0.147-0.462-0.277-0.702-0.396c-0.069-0.034-0.139-0.069-0.21-0.101   c-0.272-0.124-0.55-0.234-0.835-0.321c-0.035-0.01-0.071-0.017-0.106-0.027c-0.259-0.075-0.522-0.132-0.789-0.177   c-0.078-0.013-0.155-0.025-0.233-0.036C14.614,9.027,14.309,9,14,9c-3.859,0-7,3.141-7,7c0,0.082,0.006,0.163,0.012,0.244   l0.012,0.21l-0.009,0.16C7.008,16.744,7,16.873,7,17v0.63l-0.567,0.271C2.705,19.688,0,24,0,28.154C0,34.135,4.865,39,10.845,39H25   V28c0-2.209,1.791-4,4-4s4,1.791,4,4v11h2.353c0.059,0,0.116-0.005,0.174-0.009l0.198-0.011l0.271,0.011   C36.053,38.995,36.11,39,36.169,39h9.803C51.501,39,56,34.501,56,28.972C56,24.161,52.49,19.872,47.835,18.986z"></path>
            </svg>
        </div>
    </div>
    
    <div class="sync opcion" data-sync="subir">
        <div class="titulo">Sincronizar Eventos</div>
        <div class="boton icono">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 56 56" style="enable-background:new 0 0 56 56;" xml:space="preserve" width="512px" height="512px">
                <path d="M37,36.5c0.512,0,1.024-0.195,1.414-0.586c0.781-0.781,0.781-2.047,0-2.828l-7.999-7.999   c-0.093-0.093-0.196-0.177-0.306-0.25c-0.05-0.034-0.105-0.057-0.158-0.086c-0.062-0.034-0.121-0.071-0.186-0.098   c-0.067-0.028-0.137-0.044-0.206-0.064c-0.056-0.017-0.11-0.038-0.168-0.05c-0.259-0.052-0.525-0.052-0.784,0   c-0.058,0.011-0.112,0.033-0.168,0.05c-0.069,0.02-0.138,0.036-0.205,0.064c-0.066,0.027-0.125,0.065-0.187,0.099   c-0.052,0.029-0.107,0.052-0.157,0.085c-0.11,0.073-0.213,0.157-0.306,0.25l-7.999,7.999c-0.781,0.781-0.781,2.047,0,2.828   C19.976,36.305,20.488,36.5,21,36.5s1.024-0.195,1.414-0.586L27,31.328V49.5c0,1.104,0.896,2,2,2s2-0.896,2-2V31.328l4.586,4.586   C35.976,36.305,36.488,36.5,37,36.5z"></path>
                <path d="M47.835,20.486c-0.137-0.019-2.457-0.335-4.684,0.002C43.1,20.496,43.049,20.5,42.999,20.5   c-0.486,0-0.912-0.354-0.987-0.85c-0.083-0.546,0.292-1.056,0.838-1.139c1.531-0.233,3.062-0.196,4.083-0.124   C46.262,10.635,39.83,4.5,32.085,4.5c-4.697,0-9.418,2.379-12.285,6.129c1.954,1.652,3.2,4.117,3.2,6.871c0,0.553-0.447,1-1,1   s-1-0.447-1-1c0-2.462-1.281-4.627-3.209-5.876c-0.227-0.147-0.462-0.277-0.702-0.396c-0.069-0.034-0.139-0.069-0.21-0.101   c-0.272-0.124-0.55-0.234-0.835-0.321c-0.035-0.01-0.071-0.017-0.106-0.027c-0.259-0.075-0.522-0.132-0.789-0.177   c-0.078-0.013-0.155-0.025-0.233-0.036C14.614,10.527,14.309,10.5,14,10.5c-3.859,0-7,3.141-7,7c0,0.082,0.006,0.163,0.012,0.244   l0.012,0.21l-0.009,0.16C7.008,18.244,7,18.373,7,18.5v0.63l-0.567,0.271C2.705,21.188,0,25.5,0,29.654   C0,35.635,4.865,40.5,10.845,40.5h14.184v-4.343l-1.171,1.171c-0.781,0.781-1.805,1.172-2.829,1.172s-2.047-0.391-2.829-1.172   c-1.562-1.562-1.562-4.095,0-5.656l8-8h0c0.186-0.186,0.391-0.352,0.61-0.499c0.098-0.065,0.205-0.111,0.307-0.167   c0.126-0.069,0.248-0.146,0.382-0.201c0.132-0.055,0.27-0.086,0.406-0.126c0.114-0.033,0.223-0.077,0.34-0.101   c0.517-0.103,1.05-0.103,1.567,0c0.118,0.023,0.227,0.067,0.34,0.101c0.136,0.04,0.274,0.071,0.406,0.126   c0.134,0.056,0.256,0.132,0.382,0.201c0.102,0.056,0.209,0.101,0.307,0.167c0.219,0.146,0.424,0.313,0.61,0.499h0l8,8   c1.562,1.562,1.562,4.095,0,5.656c-0.781,0.781-1.805,1.172-2.829,1.172s-2.047-0.391-2.829-1.172l-1.171-1.171V40.5h2.324   c0.059,0,0.116-0.005,0.174-0.009l0.198-0.011l0.271,0.011c0.058,0.004,0.115,0.009,0.174,0.009h9.803   C51.501,40.5,56,36.001,56,30.472C56,25.661,52.49,21.372,47.835,20.486z"></path>
            </svg>
        </div>
    </div>
</div>