/* CSS Document */
.icono{position:relative; float:left; padding:5px 20px; margin:0 20px; border:2px solid #FFF; border-radius:5px; cursor:pointer; background:rgba(255,255,255,0.3); background-image:url('about:blank'); overflow:hidden;}
.contain{position:relative; border:2px solid #FFF; border-radius:20px; background:rgba(255,255,255,0.5);}
.imagen{background-position:center; background-size:contain; background-repeat:no-repeat;}
.titulo{position:relative; padding:5px 0; color:#FFF; font-size:20px; font-weight:bold; text-shadow:none;}
.detalle{position:relative; font-size:15px; text-shadow:none;}

svg{position:relative; width:40px; height:40px; cursor:pointer;}
svg *{fill:#FFF;}

#fondo{position:fixed; width:100%; height:100%; top:0; left:0; background:url(http://www.etprogroup.com.ve/aplicacion/palmera/control/www/img/fondo.jpg); background-position:center top; background-size:cover;}
#fondo .before{position:absolute; width:100%; height:100%; background:linear-gradient(to right top, rgba(255,255,255,0.1) 60%, rgba(255,255,255,0.3) 40%);} 

/*HEADER*/
#header{position:fixed; width:100%; padding:20px 0; top:0; box-shadow:0 0 5px #AAA; background-color:rgba(2525,255,255,0.3); overflow:hidden; display:block; z-index:1;}
#header .logo{position:absolute; width:30%; max-width:400px; height:100%; top:0; left:0; background-color:#FFF; background-image:url(../img/logo.png);}
#header .logo:before{content:""; position:absolute; width:0; height:0; top:0; left:100%; border:100px solid; border-color:transparent transparent transparent #FFF;}
#header .icono{float:right;}
#header .icono_home{}
#header .icono_sync{}
#header .icono_evento{}

#header .icono_group{display:none;}
#header .icono_answer{display:none;}


/*FOOTER*/
#footer{position:relative; display:block;}


/*MENSAJE*/
#mensaje{position:relative; position:fixed; width:100%; height:100%; top:0; left:0; background:#000; background:rgba(0,0,0,0.9); display:none; z-index:1;}
#mensaje .contenido{position:relative; top:40%; color:#FFF; font-size:30px; text-align:center;}
#mensaje svg.icono_cerrar{position:absolute; width:30px; height:30px; top:20px; right:20px; cursor:pointer;}
#mensaje svg.icono_cerrar path{fill:#FFF;}


/*CENTRO*/
#centro{margin:120px 0 0 0; text-align:center; background-color:rgba(0,0,0,0.5); /* overflow:hidden;*/}
.seccion{position:relative; padding:20px 0; border:1px solid rgba(255,255,255,0.3); border-width:1px 0; background-color:rgba(0,0,0,0.2); overflow:hidden; display:none;} 

.opcion{position:relative; margin:10px 20px; clear:both; overflow:hidden;}
.opcion .boton{position:relative; width:auto; float:right; color:#FFF; font-size:20px; text-shadow:1px 1px 1px #555; cursor:pointer; background-image:url('about:blank'); transition:all .5s;}
.opcion .boton:hover{/*background:#F7F7F7;*/}

.sync{position:relative; margin:20px; padding:20px; text-align:center;}
.sync.contenedor{position:relative; margin:20px 0; border:1px solid rgba(255,255,255,0.3); border-width:1px 0; background:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.1));}
.sync.contenedor .sync{vertical-align:top; display:inline-block;}
.sync .boton{position:relative; max-width:200px; margin:0 auto; float:none; display:block;}
.sync .boton svg{width:70px; height:70px;} 
.sync input{float:none;}


.evento{position:relative; width:46%; max-width:300px; padding:0; margin:20px 2%; color:#555555; font-size:20px; font-weight:bold; text-align:center; border:2px solid #FFF; border-radius:5px; cursor:pointer; background:rgba(255,255,255,0.3); display:inline-block; transition:all .5s;}
.evento img{position:relative; width:auto; max-width:100%; height:100px; margin:25px 0; text-align:center; border:3px solid #FFF; border-radius:10px; background:#FFF;}
.evento .titulo{padding:10px 0; color:#FFF; font-size:15px; font-weight:lighter; text-shadow:none; background:#FFF;}
.evento .opcion{position:relative; margin:25px 0; display:flex; justify-content:center;}
.evento .opcion .boton{width:50%; max-width:50px; color:#FFF; font-size:10px; text-shadow:none; text-align:center;}
.evento .opcion .boton .check{}
.evento .opcion .boton .answer{}

.invitados{position:relative; padding:0 5%; float:none; clear:both; border-top:1px solid rgba(255,255,255,0.3); background:rgba(54, 40, 243, 0.1); overflow:hidden; display:block;}
.invitado{position:relative; margin:30px 0; padding:5px 10px; color:#555; transition:all .5s;}
.invitado .contain{border-radius:5px;}
.invitado>.titulo{position:relative; text-align:left;}
.invitado .detalle{margin:10px; color:#000; font-size:15px; font-weight:bold; text-align:left;}
.invitado .preguntas{position:relative; overflow:hidden;}
.invitado .preguntas .titulo{padding:30px; color:#000; border-top:2px solid #FFF; font-size:25px; text-align:center;}
.invitado .preguntas .pregunta{position:relative; margin:20px; padding:10px; border-bottom:1px solid #CCC; overflow:hidden;}
.invitado .preguntas .pregunta .titulo{padding:10px 0; color:#555; text-align:left; border-top:none;}
.invitado .preguntas .estrella{position:relative; margin:5px 0; text-align:left;}
.invitado .preguntas .estrella svg{position:relative; cursor:pointer;}
.invitado .preguntas .estrella svg *{stroke:#f6c300; stroke-width:5px; fill:#fde792;}
.invitado .preguntas .estrella svg.select *{stroke:#f6c300; fill:#f6c300;}
.invitado .preguntas .estrella svg.select ~ svg *{stroke:#CCC; fill:transparent;}

.invitado[data-asistencia="SI"] .contain{}
.invitado[data-asistencia="SI"] .preguntas{}
.invitado[data-asistencia="SI"] .boton[data-asistencia="SI"]{background:#FFF; color:#555; text-shadow:none;}
.invitado[data-asistencia="NO"] .boton[data-asistencia="NO"]{background:#CCC;}
.invitado .boton[data-asistencia="NO"]{display:none;}
#evento[data-tipo="evento"] .invitado .boton.pregunta{display:none;}
#evento[data-tipo="pregunta"] .invitado .boton.asistencia{display:none;} 


#info{position:relative; width:50%; max-width:500px; margin:20px 5%; padding:0; float:left; border:2px solid #FFF; border-radius:10px; overflow:hidden;}
#info .contenedor{position:relative; width:50%; float:left; background:rgba(255,255,255,0.3);}
#info .imagen{position:relative; text-align:center;}
#info .imagen img{position:relative; width:80%; margin:20px auto; border:3px solid #FFF; border-radius:10px;}
#info .titulo{padding:10px; color:#FFF; font-size:15px; font-weight:lighter; text-shadow:none;}
#info .detalle{position:relative; width:40%; padding:20px 5%; float:left; color:#FFF;}

#buscar{position:relative; width:30%; margin:50px 5%; float:left;}
#buscar span{position:relative; margin:5px 0; color:#FFF; font-size:12px; text-shadow:none; display:block;}
#buscar .icono{float:none; display:inline-block;}
#buscar .icono svg{display:none;}
#buscar .usuarios .boton{color:#FFF; text-shadow:none;}

#agregar{position:relative; float:none; clear:both; margin:10px 5%; overflow:hidden; display:none;}
#agregar .titulo{position:relative; margin:0 30px;}
#evento form.buscar svg{position:relative; width:9%; height:40px; margin:10px 0%; float:right; cursor:pointer; fill:#f6c300;}


/*FORMULARIO*/
form{position:relative; padding:10px; border-radius:5px; overflow:hidden;}
input, select, textarea{position:relative; width:40%; margin:10px 3%; padding:10px 2%; float:left; border:none; border-radius:5px; outline:none; background:#FFF;}
input[name="mail"],
input[name="dato"],
input[name="institution"]{width:90%;}
input[name="buscar"]{width:80%;}


@media screen and (max-width:800px) and (max-device-width:800px) and (orientation: landscape){}

@media screen and (max-width:900px), screen and (max-device-width:900px){
	#info{width:90%; max-width:100%;}
	#buscar{width:90%; margin:10px 5%; float:none; clear:both; text-align:right;}
	#buscar form{padding:10px 0;}
	#buscar input[name="buscar"]{width:96%; margin:0;}
}